<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectManagement.Properties.Settings.PROJECTMANAGEMENTConnectionString"
            connectionString="Data Source=DESKTOP-0U34AIJ\SQLEXPRESS03;Initial Catalog=PROJECTMANAGEMENT;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>